@model CV.Models.Entity.Tables
@{
    Layout = null;
}
<div class="profile">
    @foreach (var item in Model.ResultHome)
    {
        <img src="~/Portf/img/@item.Image" style="width:200px; height:200px;" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">@item.Name</a></h1>
    }
    <div class="social-links mt-3 text-center">
        @foreach (var item in Model.ResultLink)
        {
            <a href="@item.Url" target="_blank"><i class="bx bxl-@item.Link"></i></a>
        }
    </div>
</div>
